* text=auto

*.yaml text eol=lf
*.yml  text eol=lf

*.tpl text eol=lf linguist-language=Go

Chart.lock binary

*.sh text eol=lf

*.md text
LICENSE text
AUTHORS text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

.gitignore text
.gitattributes text
