airbyte:
  enabled: true
  global:
    serviceAccountName: &service-account-name "airbyte-admin"
    deploymentMode: "oss"
    edition: "community"

    airbyteUrl: "http://airbyte.homelab.local"

    auth:
      enabled: true
      instanceAdmin:
        password: "strongpassword"
      
    database:
      type: "external"
      user: "airbyte"
      password: "password"
      name: "airbyte"
      host: "postgres-airbyte.database.svc.cluster.local"
      port: "5432"

    migrations:
      runAtStartup: false
    
    ## Internal MinIO 
    storage:
      type: minio
      secretName: ""
      minio:
        enabled: true
        accessKeyId: minio
        secretAccessKey: minio123
    
    ## External MinIO 
    # storage:
    #   type: s3
    #   storageSecretName: "airbyte-config-secrets"

    #   bucket:
    #     log: "airbyte-log"
    #     state: "airbyte-state"
    #     workloadOutput: "airbyte-workload"
    #     activityPayload: "airbyte-activity"

    #   s3:
    #     region: "us-west-2"
    #     authenticationType: "credentials"
    #     endpoint: "http://minio-airbyte.storage.svc.cluster.local:9000"
    #     accessKeyIdSecretKey: "minio-access-key-id"
    #     secretAccessKeySecretKey: "minio-secret-access-key"
    #     s3PathStyleAccess: true

    jobs:
      resources:
        limits:
          cpu: 500m
          memory: 512Mi
        requests:
          memory: 128Mi
          cpu: 250m

  serviceAccount:
    create: true
    annotations: {} 
    name: *service-account-name

  ingress:
    enabled: true
    className: "nginx"
    annotations:
      cert-manager.io/cluster-issuer: selfsigned-issuer
      nginx.ingress.kubernetes.io/proxy-body-size: "256m"
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "3600"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "1800"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "1800"
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
    hosts:
    - host: airbyte.homelab.local
      paths:
      - path: /api/v1/connector_builder/
        pathType: Prefix
        backend: connector-builder-server
      - path: /
        pathType: Prefix
        backend: server
    tls:
    - secretName: airbyte-local-tls
      hosts:
      - airbyte.homelab.local

  server:
    enabled: true
    replicaCount: 1
    resources:
      limits:
        cpu: 1
        memory: 4Gi
      requests:
        memory: 512Mi
        cpu: 500m
    livenessProbe:
      initialDelaySeconds: 180
      periodSeconds: 20
      timeoutSeconds: 10
      failureThreshold: 5

    readinessProbe:
      initialDelaySeconds: 60
      periodSeconds: 20
      timeoutSeconds: 10
      failureThreshold: 5
    log:
      level: "INFO"
    httpIdleTimeout: "20m"
    extraEnv:
      #- name: HTTP_IDLE_TIMEOUT
      #  value: "20m"
      - name: READ_TIMEOUT
        value: "30m"

  worker:
    enabled: true
    replicaCount: 1
    resources:
      limits:
        cpu: 500m
        memory: 2Gi
      requests:
        memory: 256Mi
        cpu: 100m
    log:
      level: "INFO"
    hpa:
      enabled: false
    debug:
      enabled: false

  workloadLauncher:
    enabled: true
    replicaCount: 1
    resources:
      limits:
        cpu: 500m
        memory: 1Gi
      requests:
        memory: 256Mi
        cpu: 100m
    extraInitContainers:
    - name: wait-for-server
      image: curlimages/curl:latest
      command:
        - "sh"
        - "-c"
        - >
          echo "Waiting for Airbyte Server to start...";
          until curl -f -s http://airbyte-airbyte-server-svc:8001/api/v1/health; do 
            echo "Server unavailable. Waiting 5 seconds..."; 
            sleep 5; 
          done;
          echo "Server online! Starting launcher.";
    log:
      level: "INFO"
    hpa:
      enabled: false
    debug:
      enabled: false
    containerOrchestrator:
      enabled: true
      image: "airbyte/container-orchestrator:{{ default .Chart.AppVersion .Values.global.image.tag }}"
    connectorSidecar:
      image: "airbyte/connector-sidecar:{{ default .Chart.AppVersion .Values.global.image.tag }}"
    workloadInit:
      image: "airbyte/workload-init-container:{{ default .Chart.AppVersion .Values.global.image.tag }}"
    activityMaxAttempt: ""
    activityInitialDelayBetweenAttemptsSeconds: ""
    activityMaxDelayBetweenAttemptsSeconds: ""
    maxNotifyWorkers: 5

  connectorRolloutWorker:
    enabled: false

  metrics:
    enabled: false

  airbyteBootloader:
    enabled: true

  temporal:
    enabled: true
    replicaCount: 1
    resources:
      requests:
        memory: 128Mi
        cpu: 50m
      limits:
        memory: 512Mi
        cpu: 500m

  temporalUi:
    enabled: false
    resources:
      requests:
        memory: 128Mi
        cpu: 50m
      limits:
        memory: 512Mi
        cpu: 500m

  postgresql:
    enabled: false

  cron:
    enabled: true
    replicaCount: 1
    resources:
      requests:
        memory: 128Mi
        cpu: 50m
      limits:
        memory: 512Mi
        cpu: 500m
    log:
      level: "INFO"

  connectorBuilderServer:
    enabled: true
    replicaCount: 1
    resources:
      requests:
        memory: 128Mi
        cpu: 50m
      limits:
        memory: 1Gi
        cpu: 500m
    log:
      level: "INFO"
    service:
      port: 80

  keycloak:
    enabled: true
    resources:
      requests:
        memory: 256Mi
      limits:
        memory: 1Gi

  keycloakSsetup:
    enabled: true

  workloadApiServer:
    enabled: true
    bearerToken: token
    replicaCount: 1
    resources:
      limits:
        cpu: 1
        memory: 2Gi
      requests:
        memory: 128Mi
        cpu: 50m
    log:
      level: "INFO"
    service:
      port: 8007
    ingress:
      enabled: false
      
  featureflagServer:
    enabled: false

  testWebapp:
    image:
      repository: busybox
      tag: latest
  
  minio:
    enabled: true
    resources:
      requests:
        memory: 128Mi
      limits:
        memory: 512Mi

